* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    font-size: 18px;
}

body {
    background-color: #b3b0b0;
}

/* navbar*/
.navbar-container {
    background-color: #202020;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 15px;
}

/* display area*/
.msg-container {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f1f1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#msg-display {
    width: 450px;
    height: 100px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}

/* toggle effect*/
.toggle-off {
    visibility: hidden;
}

#statement-holder {
    width: 450px;
    height: 50px;
    border-bottom: 1px solid #000;
}

#statement-holder:hover {
    width: 450px;
    height: 50px;
    border: 2px solid #2cee35;
}

/* statement selection area*/
.statement-container {
    width: 500px;
    height: 150px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stm-item {
    border: 1px solid #000;
    border-radius: 5px;
    width: 45%;
    height: 30%;
    text-align: center;
    background-color: #7a7878;
    color: #fff;
    font-size: 24px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: move;
}

.stm-item:hover {
    background-color: #3ff13f;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
}

.stm-item.over {
    border: 3px dotted #666;
  }
